/* Styles Sheet */

body {
    font-family: sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* Header styling */

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding-right: 250px;
    padding-left: 250px;
}

.header-logo {
    font-size: 24px;
    display: flex;
    flex: 1;
    color: #f9faf8;
    font-weight: 900;
}

.header-links {
    gap: 16px;
    display: flex;
    flex: 1;
    list-style-type: none;
    font-size: 18px;
    justify-content: flex-end;
}

a:link, a:hover, a:visited, a:active {
    color: #e5e7eb;
    text-decoration: none;
}

/* End of header styling */

/* Section-1 styling */

.section-1 {
    gap: 16px;
    background-color: #1f2937;
    display: flex;
    padding-right: 250px;
    padding-left: 250px;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 100px;
}

.left-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.sct-1-image {
    display: flex;
    flex: 1;
    background-color: #aaaaaa;
    height: 200px;   
    align-items: center;
    justify-content: center;
    color: #f9faf8;

}

.lft-text-hdr {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.lft-text-body {
    font-size: 18px;
    color: #e5e7eb;
}


/* End of section-1 styling */

/* Button styling */

/* End of button styling

